<html><!--<![endif]--><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Colorful UI</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/demo.css">
  <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="demo">
    <div class="demo-left">
      <p>
        <a href="#" class="button button-green">Iniciar Sesión</a>
        <a href="#" class="button button-blue">Registrar</a>
      </p>
    </div>
  </div>
</body></html>